body {margin: 0;}
#head1 {background-color: black; color: white; width: 100%;}
#head1 p {margin-left: 1%; margin-top: 0; margin-bottom: 0;}
#head2 {background-color: white; position: sticky; top: 0; z-index: 10000; opacity: 0.9;}
#logo {display: inline-block; margin-left: 1%;}
ol {display: flex; list-style: none; float: right;}
li {padding-right: 10px;}
a {text-decoration: none;}
a:active {color: black;}
#mid {display: flex; text-align: center;}
.item img {max-width: 200px; max-height: 250px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 3%;}
#mid a {font-weight: bold; font-size: 20px;}
#naslov {text-align: center;}
#zap {font-weight: bold;}
#drvo {display: block; margin-left: auto; margin-right: auto;}
#sl {position: relative; text-align: center;}
#centar {background-color: white; position: absolute; width: 100%; top: 50%; height: 60px; opacity: 0.8;}
#centar a {color: red; font-size: 40px;}
#foot {background-color: black; color: white;}
#levo {margin-bottom: 1%; margin-left: 15%; display: inline-block;}
#levo p {margin-top: 0; margin-bottom: 0;}
@media screen and (max-width: 980px) {
    #drvo {width: 100%;}
    #mid {display: block;}
    .item {max-width: 100%; margin: 1%;}
    #centar {opacity: 0.7;}
}