body {margin: 0; background-color: black;}
#head1 {color: #fff;background-color: black; width: 100%;}
#head1 p {margin-top: 0; margin-left: 1%; margin-bottom: 0;}
#head2 {background-color: white; position: sticky; top: 0; opacity: 0.9; z-index: 100000;}
#logo {display: inline-block; margin-left: 1%;}
ol {display: flex; float: right; list-style: none;}
li {padding-right: 10px;}
a {text-decoration: none;}
a:active {color: black;}
#mi {position: relative;}
#preko {position: absolute; background-color: white; width: 40%; top: 10%; left: 30%; height: 50%; padding: 10px; opacity: 0.9;}
#preko h1 {text-align: center; margin-top: 35%; font-size: 50px; font-style: italic;}
#preko2 {width: 20%; height: 20%; display: block; margin-left: auto; margin-right: auto; background-color: white; opacity: 0.9; transform: translate(0, -20%);}
#galerija {display: flex; padding: 0 4px; overflow: auto;}
.kolone {flex: 25%; max-width: 33.3%;}
.kolone img {width: 100%;}
#slika {position: relative;}
#slika img {display: block;}
#centar {position: absolute; left: 70%; bottom: 13%; font-size: 40px;}
#centar a {color: red;}
#footer {background-color: black; color: white;}
#levo3 {margin-left: 15%; margin-bottom: 1%;}
#levo3 p {margin-top: 0; margin-bottom: 0;}
#levo3 a {color: white}
@media screen and (max-width: 980px) {
    #preko h1 {margin-top: 25%;}
    #galerija {display: block;}
    .kolone {max-width: 100%;}
}
